body{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    /* font-size: 4rem; */
    text-align: center;
}
p{
    padding: 15px;
}   

.sec{
    border: black 1px solid;
    margin: 5px;
    /* padding: 10px; */
    background-color: #999999;
    color: black;
    float:left;
    box-sizing: border-box;
    text-align: justify;
}
#head1, #head2, #head3{
    font-weight: bolder;
    border: black 1px solid;
    justify-self: right;
    display: block;
    
    position: relative;
    float: right;
    padding: 5px;
}
#head1{background-color: #d59898;}
#head2{background-color: #c14543;
color:white;}
#head3{background-color: #e5d198;}
@media screen and (min-width:992px) {
    
    
    .sec{
        width:31%;
    }
}
@media screen and (max-width:991px) and (min-width:768px){
    
    .sec1, .sec2{
        width:46.1%;
    }
    .sec3{
        width:98%;
    }
}
@media screen and (max-width:767px) {
    
    .sec{
        width:98%;
    }
}
